.filter {
  /* margin: 1rem auto 2rem auto; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.filter__input {
  border-color: #fff;
}
@media (max-width: 800px) {
  .filter {
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    align-items: stretch;
    padding: 1rem;
  }
}
